<% let title = 'Secret - Home'; %>
<% include partials/header.ejs %>

  <% include partials/nav.ejs %>
  <!-- home page -->
  <main>
    <h1>Welcome to Secret!</h1>
    <p>Log in to find out my secret</p>
    <p>If you are logged in click <a href="/secret">here</a> for my secret.</p>
  </main>

<% include partials/footer.ejs %>