<% let title = 'My Secret · Secret'; %>
<% include partials/header.ejs %>

  <% include partials/nav.ejs %>
  <!-- secret page -->
  <main>
    <h1>You found the secret image!</h1>
    <!-- my secret -->
    <img src="/images/secret.jpg" width="200px" alt="Photo of the NYEHHH meme">
  </main>

<% include partials/footer.ejs %>