<% let title = 'My Secret · Secret'; %>
<% include partials/header.ejs %>

  <% include partials/nav.ejs %>
  <!-- secret page -->
  <main>
    <h1>This is where the secret is suppose to be</h1>
  </main>

<% include partials/footer.ejs %>